@media (max-width: 768px) {
  #experience {
    margin-top: 17rem;
  }

  .text-responsive {
    margin-top: 4.5rem;
  }

  .bio {
    margin-top: 1rem;
    border-style: none !important;
  }
}

@media (max-width: 500px) {
  #header-home {
    width: 100vw;
    height: 100vh;
  }

  #header-inner {
    height: 10rem;
  }

  .overlay-inner {
    height: 10rem;
  }

  #main-nav {
    flex-direction: column;
    align-items: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 5px;
    }
  }

  #about {
    margin-top: 2rem;
  }

  #experience {
    margin-top: 15rem;
  }

  .bio .text-left {
    font-size: medium;
  }

  .contact-info {
    font-size: small;
    text-align: left;
  }

  .text-responsive {
    margin-top: 1rem;
  }

  .text-responsive-content {
    font-size: calc(40% + 1vw + 1vh);
    margin-top: 2rem;
  }

  #header-content h1 {
    font-size: calc(10% + 1vw + 1vh);
  }

  #main-footer {
    height: 12rem;
    bottom: 0;
    margin-bottom: 0;
  }

  .text-responsive-section-title {
    font-size: calc(30% + 1vw + 1vh);
  }

  .text-responsive-subheadings {
    font-size: calc(60% + 1vw + 1vh);
  }

  .bio {
    margin-top: 1rem;
    border-style: none !important;
  }
}

@media (max-width: 400px) {
  .contact-info {
    font-size: calc(5% + 1vw + 1vh);
  }

  .bio {
    margin-top: 1rem;
    border-style: none !important;
  }
}

@media (max-width: 320px) {
  .contact-info {
    font-size: calc(1% + 1vw + 1vh);
  }

  .bio {
    margin-top: 1rem;
    border-style: none !important;
  }
}

@media (max-height: 360px) {
  #header-content {
    height: 100vh;
  }
}

// @media (max-height: 1920) {
//   .contacts {
//     min-height: 172px;
//   }
// }
