@import 'config.scss';
@import 'utilities.scss';

body {
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #005082;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 90px;
  height: 70px;
  color: #fff;
  text-transform: uppercase;
}

.navbar a,
.navbar .navbarCollapse {
  margin: 0 2rem;
}

#header {
  &-home {
    background: $bg-image no-repeat center right / cover;
    height: 100vh;
    color: #fff;
    position: relative;

    .header-content {
      text-align: center;
      padding-top: 10%;

      h1 {
        font-size: 4rem;
        line-height: 1.2;
      }
    }
  }

  &-inner {
    background: $bg-image no-repeat 17% 17% / cover;
    height: 6rem;
    border-bottom: 4px solid #00a8cc;
    position: relative;
  }
}

#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  font-family: 'Poiret One', cursive;
  ul {
    display: flex;
  }

  li {
    padding: 1rem 1.5rem;
  }

  a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    border-bottom: 3px transparent solid;
    padding-bottom: 0.5rem;
    transition: border-color 0.5s;

    &:hover {
      border-color: #00a8cc;
    }

    &.current {
      border-color: #005082;
    }
  }
}

.header-content-heading {
  font-family: 'Poiret One', cursive;
}

.over-lay {
  background: rgba(63, 57, 77, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overlay-inner {
  background: rgba(63, 57, 77, 0.2);
  top: 0;
  left: 0;
  height: 6rem;
}

#about {
  margin-top: 2rem;
}

#about-a {
  margin: 3rem 0;
  height: 20rem;
}

#about-b {
  height: 100vh;
}

#about {
  &-a {
    .about-info {
      display: grid;
      margin-top: 10px;
    }

    .bio-img {
      width: 20rem;
      margin-top: 1.5rem;
      height: 20rem;
      border-radius: 50%;
    }

    .bio {
      border-left: 3px solid #00a8cc;
      padding: 0.8rem;
      text-align: left;
    }
  }
}

ul.contact {
  margin-left: 10rem;
}

#experience {
  margin-top: 10rem;
  margin-bottom: 6.2rem;
}

.text-responsive {
  font-size: calc(100% + 1vw + 1vh);
  margin-top: 1rem;
}

.text-responsive-nav {
  font-size: calc(10% + 1vw + 1vh);
  margin-top: 1rem;
}

.text-responsive-content {
  font-size: calc(100% + 1vw + 1vh);
}

.text-responsive-subheadings {
  color: #005082;
}

.text-heading {
  font-family: 'Poiret One', cursive;
}

.scroll-icon {
  position: absolute;
  bottom: 1px;
  left: 50%;
  opacity: 0.5;
  cursor: pointer;
}

.scroll-icon::before,
.scroll-icon::after {
  content: '';
  display: block;
  position: absolute;
  border: 50%;
  border: 5px solid #ffffff;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.contacts {
  min-height: 735px;
}

.contacts .h3 {
  margin-top: 8rem;
}

// Footer
#main-footer {
  color: #fff;
  margin-top: 5rem;
  position: relative;
  background-color: #005082;

  .footer-content {
    .social .fab,
    .social .fas {
      margin-right: 1rem;
      border: 1px #fff solid;
      border-radius: 100%;
      height: 2rem;
      width: 2rem;
      line-height: 15px;
      text-align: center;
      padding: 0.5rem;
      cursor: pointer;

      &:hover {
        background: #00a8cc;
      }
    }
  }
}

.projects {
  border-radius: 4px;
  background: #fff;
  transition: 0.3s transform cubic-bezier(0.155, 1.105, 0.295, 1.12),
    0.3s box-shadow,
    0.3s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.projects:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
}

.projects::before {
  position: absolute;
  content: '';
  width: 80%;
  height: 220%;
  background: rgba(0, 168, 204, 0.9);
  top: -50%;
  left: -100%;
  z-index: 1;
  transform: rotate(25deg);
  transform-origin: center top 0;
  transition: 0.5s;
}

.projects:hover::before {
  left: 45%;
}

.card-text {
  width: 100%;
  padding: 0 20px;
  position: absolute;
  top: -100%;
  color: #fff;
  left: 0;
  z-index: 2;
  transition: 1.1s;
}

.card:hover .card-text {
  top: 80px;
}

.under-construction {
  width: 40rem;
  height: 30rem;
  margin: 3.2rem auto;
}

@import 'media';
